@import url("https://use.typekit.net/fqz8cbe.css");

@font-face {
    font-family: InspireTWDC;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Light-b9902ed37a74.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Light-47ed4c5a049a.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Light-336ca38c6075.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Light-8b309345d3b1.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-LightItalic-8aa84889ee82.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-LightItalic-cd59b5bc897e.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-LightItalic-2d1c66b5f8de.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-LightItalic-08f5c7f1edd2.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Roman-889783b59e19.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Roman-0679a1b070d1.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Roman-f3ede4485e0f.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Roman-52097caaf411.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Italic-64b6d4c17e7c.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Italic-8e2a9d76e87c.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Italic-f0fe28c64639.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Italic-e7800519503d.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Medium-2b8c1dd1483c.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Medium-ff5e8d73a3e9.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Medium-5905efb6da5f.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Medium-78a517de330c.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-MediumItalic-35a12c13fd6b.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-MediumItalic-86d24bd777ac.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-MediumItalic-90e186e90e7d.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-MediumItalic-517b60ab68f1.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Heavy-3e008f62417c.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Heavy-0457015efab9.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Heavy-58bc951b99dd.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Heavy-2b78498aac85.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-HeavyItalic-d1111ae7a84d.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-HeavyItalic-858b18b1dcd1.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-HeavyItalic-480ffee135e8.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-HeavyItalic-6c720ec2ca68.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Black-aee8c6dd941f.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Black-0ed2e6f92809.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Black-abb45dee126b.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-Black-385465bc9799.svg#InspireTWDC") format("svg")
}

@font-face {
    font-family: InspireTWDC;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-BlackItalic-c51afec7dd5a.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-BlackItalic-42db24156fa0.woff") format("woff"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-BlackItalic-1019b6a08de6.ttf") format("truetype"), url("https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/InspireTWDC-BlackItalic-6df9931ffea8.svg#InspireTWDC") format("svg")
}